
body{
  background-color: nth($logo_color,6);
  height: nth($height-viewport,2);
  @include flexbox;
  justify-content: center;
  align-items: center;
  #app{
  background-color: nth($logo_color,5);
  height: nth($height-viewport,1);
  color: nth($logo_color,1);
  @include breakpoint (small-mobile) {
    width: nth($width-viewport,3);
    max-width: nth($max-width,1);
  }
  @include breakpoint (mobiles-tablets) {
    width: nth($width-viewport,2);
    max-width: nth($max-width,1);
  }
  @include breakpoint (medium-screens) {
    width: nth($width-px,3);
  }
  @include breakpoint (wide-screens) {
    width: nth($width-px,3);
  }
  @include flexbox;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(214,214,214,0.34);
  -moz-box-shadow: 0px 0px 5px 1px rgba(214,214,214,0.34);
  box-shadow: 0px 0px 5px 1px rgba(214,214,214,0.34);
  .container{
    width: nth($width-percentage,1);
    height: nth($height-viewport,1);
    @include flexbox;
    flex-direction: column;
    position: relative;
    }
  }
}
